<div class="row">
  <div class="col-12">
    <img
      [src]="lunch.imagePath"
      [alt]="lunch.name"
      class="img-responsive"
      style="max-width: 300px"
    />
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h1>{{ lunch.name }}</h1>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <button type="button" class="btn btn-primary dropdown-toggle">
      Opções <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">Para a lista de compras</a></li>
      <li><a href="#">Editar Marmita</a></li>
      <li><a href="#">Remover Marmita</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-12">{{ lunch.description }}</div>
</div>

<div class="row">
  <div class="col-12">Ingredientes</div>
</div>
