<div class="row">
  <div class="col-12">
    <img
      [src]="lunch.imagePath"
      [alt]="lunch.name"
      class="img-responsive"
      style="max-width: 400px"
    />
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h1>{{ lunch.name }}</h1>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="dropdown">
      <button type="button" class="btn btn-primary dropdown-toggle" appDropdown>
        Opções <span class="caret"></span>
      </button>
      <ul class="dropdown-menu lunch-dropdown">
        <li>
          <a (click)="addToIngredientList()">Adicionar à lista de alimentos</a>
        </li>
        <li><a style="cursor: pointer">Editar Marmita</a></li>
        <li><a style="cursor: pointer">Remover Marmita</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">{{ lunch.description }}</div>
</div>

<div class="row">
  <div class="col-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of lunch.ingredients">
        {{ ingredient.name }} ({{ ingredient.amount }})
      </li>
    </ul>
  </div>
</div>
